<!--<div id="footer" class="text-center">
  <div id="footer-left">
    <a href="/">
      <span class="link-highlight">H</span>ome
    </a>
    <a href="/entities/">
      L<span class="link-highlight">i</span>brary
    </a>
    <a href="#">
      <span class="link-highlight">A</span>bout
    </a>
    <a href="#">
      <span class="link-highlight">C</span>ontact
    </a>
  </div>
  <div id="footer-right">
    <a href="#">
      Source
    </a>
    <span>|</span>
    <span>1984 - 2024 🄯 GUNMAP</span>
  </div>
</div>-->
<div id="footer-wrapper">
  <div id="footer" class="hidden noise">
    <div id="footer-left">
      <p><a href="/"><img src="/images/w98_computer_explorer.ico" /><span class="letter-highlight">H</span>ome</a></p>
      <p><a href="/entities/"><img src="/images/w98_search_directory.ico" />L<span class="letter-highlight">i</span>brary</a></p>
      <p><a href="#"><img src="/images/w98_msg_information.ico" /><span class="letter-highlight">A</span>bout</a></p>
      <p><a href="#"><img src="/images/w98_fax_machine.ico" /><span class="letter-highlight">C</span>ontact</a></p>
    </div>
    <div id="footer-right">
      <p><a href="#"><img src="/images/w98_gears_tweakui_a.ico" /><span class="letter-highlight">S</span>ource</a></p>
      <p id="footer-right-divider"><span>|</span></p>
      <p><span>1984 - 2024 !(C) GUNMAP</span></p>
    </div>
  </div>
  <div id="footer-mobile" class="noise">
    <div id="footer-mobile-menu" class="gunmap-panel-input-wrapper submit">
      <div class="gunmap-panel-input-wrapper-2">
        <div class="gunmap-panel-input-wrapper-3">
          <input id="menu_button" type="submit" value="Menu >"></input>
        </div>
      </div>
    </div>
  </div>
</div>
