{{ define "main" }}
<div id="project-page" class="flex-row">
  <div id="results-panel" class="hidden left-sidebar gunmap-panel noise">
    <div class="gunmap-panel-header noise">
      <div class="gunmap-panel-header-inner">
        Results
      </div>
    </div>
    <div class="gunmap-panel-body flex-row">
      <div class="gunmap-panel-list-wrapper">
        <div class="gunmap-panel-list-wrapper-2">
          <div class="gunmap-panel-list flex-column">
            <div class="gunmap-panel-list-item-selected gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_open.ico" />
              <span>{{.Title}}</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
            <div class="gunmap-panel-list-item flex-row">
              <img src="/images/w98_directory_closed.ico" />
              <span>Result Name</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="single-result-panel" class="gunmap-panel noise">
    <div class="gunmap-panel-header noise">
      <div class="gunmap-panel-header-inner">
        {{.Title}}
      </div>
    </div>
    <div class="gunmap-panel-body flex-row">
      <div id="single-result-panel-left" class="flex-column">
        <div id="single-result-image" class="gunmap-subpanel">
          <img src='{{ .Param "thumbnail_url" }}' />
        </div>
        <div id="single-result-result-wrapper">
          <div class="single-result-details gunmap-subpanel">
            <div class="gunmap-subpanel-title noise">Details</div>
            <div class="gunmap-subpanel-body">
              <div class="single-result-details-buttons">
                <div class="single-result-download-button gunmap-panel-input-wrapper submit width-100 green">
                  <div class="gunmap-panel-input-wrapper-2 width-100">
                    <div class="gunmap-panel-input-wrapper-3 width-100">
                      <input type="submit" class="width-100" value="Download"></input>
                    </div>
                  </div>
                </div>
                <div class="single-result-download-button gunmap-panel-input-wrapper submit width-100">
                  <div class="gunmap-panel-input-wrapper-2 width-100">
                    <div class="gunmap-panel-input-wrapper-3 width-100">
                      <input type="submit" class="width-100" value="Odysee"></input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-panel-details-panel-wrapper">
                <div class="single-panel-details-panel">
                  {{ with .Date }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Created Date</div>
                      <div class="single-panel-details-detail-content">
                        <span>{{ . }}</span>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "authors" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Author</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "organizations" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Organization</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "gunmap_categories" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Category</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "entity_formats" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Entity Format</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "diy_levels" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">DIY Level</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "munition_types" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Munition Type</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "munition_platforms" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Munition Platform</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "munition_parts" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Munition Part</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "munition_calibers" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Munition Caliber</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ with .GetTerms "fabrication_methods" }}
                  <div class="single-panel-details-detail-wrapper">
                    <div class="single-panel-details-detail">
                      <div class="single-panel-details-detail-title">Fabrication Method</div>
                      <div class="single-panel-details-detail-content">
                      {{ range $k, $v := . }}
                        <span>{{ .LinkTitle }}</span>
                      {{ end }}
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div id="single-result-description" class="gunmap-subpanel">
            <div class="gunmap-subpanel-title noise">Description</div>
            <div id="description">
              {{ with .Content }}
                {{ . }}
              {{ else }}
                <p>No description provided</p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div id="single-result-panel-right">
        <div class="single-result-details gunmap-subpanel">
          <div class="gunmap-subpanel-title noise">Details</div>
          <div class="single-result-details-buttons">
            <div class="single-result-download-button gunmap-panel-input-wrapper submit width-100 green">
              <div class="gunmap-panel-input-wrapper-2 width-100">
                <div class="gunmap-panel-input-wrapper-3 width-100">
                  <input type="submit" class="width-100" value="Download"></input>
                </div>
              </div>
            </div>
            <div class="single-result-download-button gunmap-panel-input-wrapper submit width-100">
              <div class="gunmap-panel-input-wrapper-2 width-100">
                <div class="gunmap-panel-input-wrapper-3 width-100">
                  <input type="submit" class="width-100" value="Visit Odysee"></input>
                </div>
              </div>
            </div>
          </div>
          <div class="single-panel-details-panel-wrapper">
            <div class="single-panel-details-panel">
              {{ if .Date }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Created Date</div>
                  <div class="single-panel-details-detail-content">
                    <span>{{ dateFormat "January 02, 2006" .Date }}</span>
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "authors" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Author</div>
                  <div class="single-panel-details-detail-content">
                    {{ range $k, $v := . }}
                      <span>{{ .LinkTitle }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "organizations" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Organization</div>
                  <div class="single-panel-details-detail-content">
                    {{ range $k, $v := . }}
                      <span>{{ .LinkTitle }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "gunmap_categories" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Category</div>
                  <div class="single-panel-details-detail-content">
                    {{ range $k, $v := . }}
                      <span>{{ .LinkTitle }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "entity_formats" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Entity Format</div>
                  <div class="single-panel-details-detail-content">
                  {{ range $k, $v := . }}
                    <span>{{ .LinkTitle }}</span>
                  {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "diy_levels" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">DIY Level</div>
                  <div class="single-panel-details-detail-content">
                  {{ range $k, $v := . }}
                    <span>{{ .LinkTitle }}</span>
                  {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "munition_types" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Munition Type</div>
                  <div class="single-panel-details-detail-content">
                    {{ range $k, $v := . }}
                      <span>{{ .LinkTitle }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "munition_platforms" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Munition Platform</div>
                  <div class="single-panel-details-detail-content">
                    {{ range $k, $v := . }}
                      <span>{{ .LinkTitle }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "munition_parts" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Munition Part</div>
                  <div class="single-panel-details-detail-content">
                  {{ range $k, $v := . }}
                    <span>{{ .LinkTitle }}</span>
                  {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "munition_calibers" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Munition Caliber</div>
                  <div class="single-panel-details-detail-content">
                  {{ range $k, $v := . }}
                    <span>{{ .LinkTitle }}</span>
                  {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ with .GetTerms "fabrication_methods" }}
              <div class="single-panel-details-detail-wrapper">
                <div class="single-panel-details-detail">
                  <div class="single-panel-details-detail-title">Fabrication Method</div>
                  <div class="single-panel-details-detail-content">
                  {{ range $k, $v := . }}
                    <span>{{ .LinkTitle }}</span>
                  {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
